<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styles/style.css"/>

    <title>Explore</title>
  </head>
  <body>

<!-- Nav bar -->

<nav index=navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="/">
    <img src="/images/logo.png" width="30" height="30" alt="Logo" loading="lazy"> Creature Feature
   </a>
  </button>

  <div class="navbar-nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="text-light nav-link" href="/Profile">Home |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/explore">Explore |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/submit-creature">Submit |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/login">Login |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/signup">Register</a>
      </li>
    </nav>
    </div>

    <div class="sidenav">
        <a href="..">Recommended For You</a>
        <a href="..">People You're Lurking</a>
        <a href="..">People Lurking You</a>
        <a href="..">Popular</a>
    </div>
      
      <!-- Page content -->
      <div class="main">
        <div class="container">
          <div class="row">
            <div class="col-md">
              
          <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="https://vignette.wikia.nocookie.net/monsterhunter/images/a/a3/MHGU-Ahtal-Ka_Render_001.png/revision/latest/top-crop/width/360/height/360?cb=20171017050735" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Ahtal-Ka</h5>
        <p class="card-text">Ahtal-Ka is a large insect-like monster. It somewhat resembles a devil's flower mantis in appearance</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://steamuserimages-a.akamaihd.net/ugc/959719626679197537/95E952259095130C3F30130A37938A3592F927F7/" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Dalamadur</h5>
        <p class="card-text">Its appearance is similar to Najarala in terms of body type. It has a snake-like face, with bright red eyes, numerous fangs, and many hook-like spikes along its body</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/a97b790b-c79e-43af-8fc8-98a332a0d099/ddetmei-5b304ddd-73b4-4d2d-b40a-cbbffcc22152.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Namielle</h5>
        <p class="card-text">Namielle is an Elder Dragon that has aspects of manta rays, deep sea fish, and jellyfish. Its massive wings are colored black on top and a light blue on the underside, with rainbow luminescence that pulses constantly.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://i.redd.it/5uqi7s09gkt21.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">White Fatalis</h5>
        <p class="card-text">When enraged, the throat and chest of the White Fatalis glow a menacing red and becomes surrounded with red lightning sparks.</p>
      </div>
    </div>
  </div>
</div>

<!-- <div class="main2">
  <div class="container">
    <div class="row">
      <div class="col-md">
        
    <div class="row row-cols-2 row-cols-md-2">
<div class="col mb-4">
<div class="card">
<img src="../asset folder/logo.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Lurker 5's Post</h5>
  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
</div>
</div>
<div class="col mb-4">
<div class="card">
<img src="../asset folder/logo.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Lurker 6's Post</h5>
  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
</div>
</div>
<div class="col mb-4">
<div class="card">
<img src="../asset folder/logo.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Lurker 7's Post</h5>
  <p class="card-text">TLorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
</div>
</div>
<div class="col mb-4">
<div class="card">
<img src="../asset folder/logo.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Lurker 8's Post</h5>
  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
</div>
</div>
</div>
</div> -->
