<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="../asset folder/style.css"/>

    <title>Explore</title>
  </head>
  <body>

<!-- Nav bar -->

    <nav index=navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand font-weight-bold" href="#">
        <img src="../asset folder/logo.png" width="30" height="30" alt="Logo" loading="lazy"> Creature Feature
       </a>
      </button>

      <div class="navbar-nav" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="text-light nav-link" href="../Profile page/index.html">Home |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="../explore page/index.html">Explore |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="../submit page/index.html">Submit |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="../log in page/index.html">Login |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="../sign up page/index.html">Register</a>
          </li>
        </nav>
    </div>

    <div class="sidenav">
        <a href="..">Recommended For You</a>
        <a href="..">People You're lurking</a>
        <a href="..">People Lurking You</a>
        <a href="..">Popular</a>
    </div>
      
      <!-- Page content -->
      <div class="main">
        <div class="container">
          <div class="row">
            <div class="col-md">
              
          <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="../asset folder/logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lurker 1's Post</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="../asset folder/logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lurker 2's Post</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="../asset folder/logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lurker 3's Post</h5>
        <p class="card-text">TLorem ipsum dolor sit amet consectetur adipisicing elit.</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="../asset folder/logo.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Timmmmmmmmmmmmmm's Post</h5>
        <p class="card-text">Sacrifices had to be made.</p>
      </div>
    </div>
  </div>
</div>

<div class="main2">
  <div class="container">
    <div class="row">
      <div class="col-md">
        
    <div class="row row-cols-2 row-cols-md-2">
<div class="col mb-4">
<div class="card">
<img src="../asset folder/logo.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Lurker 5's Post</h5>
  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
</div>
</div>
<div class="col mb-4">
<div class="card">
<img src="../asset folder/logo.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Lurker 6's Post</h5>
  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
</div>
</div>
<div class="col mb-4">
<div class="card">
<img src="../asset folder/logo.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Lurker 7's Post</h5>
  <p class="card-text">TLorem ipsum dolor sit amet consectetur adipisicing elit.</p>
</div>
</div>
</div>
<div class="col mb-4">
<div class="card">
<img src="../asset folder/logo.png" class="card-img-top" alt="...">
<div class="card-body">
  <h5 class="card-title">Lurker 8's Post</h5>
  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit..</p>
</div>
</div>
</div>
</div>
