<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styles/style.css"/>
    <title>Gallery</title>
  </head>
  <body>

<!-- Nav bar -->

<nav index=navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="/">
    <img src="/images/logo.png" width="30" height="30" alt="Logo" loading="lazy"> Creature Feature
   </a>
  </button>

  <div class="navbar-nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="text-light nav-link" href="/Profile">Home |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/explore">Explore |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/submit-creature">Submit |</a>
      </li>
      <!-- <li class="nav-item">
        <a class="text-light nav-link" href="/login">Login |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/signup">Register</a>
      </li> -->
    </nav>
    </div>

    <div class="sidenav">
        <a href="/world">Universes</a>
    </div>
      
      <!-- Page content -->
      <div class="main">
        <div class="container">
          <div class="row">
            <div class="col-md">
              Creature Name
          <div class="row row-cols-1 row-cols-md-2">
  <div class="col mb-4">
    <div class="card">
      <img src="https://samurai-gamers.com/wp-content/uploads/2016/06/burakidios.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Brachydios</h5>
        <p class="card-text">Brachydios are easily identifiable by their glowing, green slime-covered horns and "fists," as well as their shiny, armored hide covered in many plates and ridges that are made of obsidian. Unlike other Brute Wyverns, Brachydios sports a pair of long, highly developed forelimbs that it uses as its primary means of defense. </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://i.pinimg.com/originals/d9/dd/0c/d9dd0cbb5e5eb06e1b0f2f62cd46e975.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Glavenus</h5>
        <p class="card-text">Glavenus is a large Brute Wyvern with dark red scales covering its body. Two rows of blue, bony plates run along its back, going from the eyes to the tail. Its underside is more of a cream color. The main feature of Glavenus's physiology is its huge, sword-like tail. </p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://monsterhunterworld.wiki.fextralife.com/file/Monster-Hunter-World/mhw-black_diablos_render_001.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Diablos</h5>
        <p class="card-text">Diablos are large, bipedal wyverns with powerful armor plating covering much of their body. Their most noteworthy feature is a pair of massive, solid bull-like horns above their red eyes. Diablos also possess a pair of tusk-like fangs and a large, spiny neck frill. Their tail ends with a heavy, studded club that can be used to ward off attackers</p>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card">
      <img src="https://i.pinimg.com/originals/14/cf/d6/14cfd68a4eb42e0a610992c5084facf9.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Gogmazios</h5>
        <p class="card-text">Gogmazios has a highly unusual diet of sulfur and gunpowder. It eats this substance in vast quantities and is known to raid armories and warehouses, such as the ones within Dundorma, in order to feed on it in bulk. It is highly aggressive and will attempt to destroy anything that threatens it or attempts to stand in its way.</p>
      </div>
    </div>
  </div>
</div>