<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
   href="style.css"
    />
    <link rel="stylesheet" href="/styles/style.css"/>

    <title>Log In Page</title>

  </head>
  <body>
    <!-- Nav bar -->

    <nav index=navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand font-weight-bold" href="/">
        <img src="/images/logo.png" width="30" height="30" alt="Logo" loading="lazy"> Creature Feature
       </a>
      </button>

      <div class="navbar-nav" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="text-light nav-link" href="/Profile">Home |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="/explore">Explore |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="/submit-creature">Submit |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="/login">Login |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="/signup">Register</a>
          </li>
        </nav>
    </div>
    <!-- nav bar end -->
<br>
<br>


<!-- sign in Box -->
<form method="post">
  <div class="form-group" "col-md-3 mb-3">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" required>
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group" "col-md-3 mb-3">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
  </div>
  <div class="form-group form-check" "col-md-3 mb-3>
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember Me</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<!-- Sign in box end -->
<p>OR</p>
<!-- or sign up button -->
<button type="button" class="btn btn-primary">Sign Up Now</button>
<!-- or sign up end -->
</body>
</html>
