<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/profilestyle.css" />
    <title>Profile Page</title>
  </head>
  <body class="Back">
<!-- navbar -->
<!-- Nav bar -->

<nav index=navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="#">
    <img src="/images/logo.png" width="30" height="30" alt="Logo" loading="lazy"> Creature Feature
   </a>
  </button>

  <div class="navbar-nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="text-light nav-link" href="/Profile">Home |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/">Explore |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/submit-creature">Submit |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/login">Login |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/signup">Register</a>
      </li>
    </nav>
</div>
<!-- Nav Bar End -->
<!-- Header Image -->
<img class="cropped1" src="/images/nightwatch.png" class="rounded mx-auto d-block" alt="..." width="100%" height="250px">

<!-- Nav Bar 2 -->
<nav class="navbar navbar-light" style="background-color: #ffffff;">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#"><h2 class="nav2link">Rabid Swan</h2></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/world"><h4 class="nav2link">Universes</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/gallery"><h4 class="nav2link">Gallery</h4></a>
  </li>
</ul>
</nav>
<!-- About -->
<!-- Column One -->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div id="pronav">
        <h3>About</h3>
       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <a href="..">People Lurking You</a>
        <a href="..">Popular</a>
    </div>
    </div>
  


<!-- Colum Two -->

  
    <div class="col-mb-10 featureimg" >
      <img  src="/images/lykavisdesign.jpg" class="rounded mx-auto " alt="..." width="200" height="200">
      
      <img src="/images/onxy.jpg" class="rounded mx-auto" alt="..." width="200" height="200">
      <img src="/images/nightwatch.png" class="rounded mx-auto " alt="..." width="200" height="200">

    </div>
  </div>
</div>
<!-- Featured ArtWork -->
<!-- Recent Posts -->

  
    
  </body>
</html>
