<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styles/style.css" />
    <link rel="stylesheet" href="/styles/profilestyle.css" />
    <title>Profile Page</title>
  </head>
  <body class="Back">
<!-- navbar -->
<!-- Nav bar -->

<nav index=navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="/">
    <img src="/images/logo.png" width="30" height="30" alt="Logo" loading="lazy"> Creature Feature
   </a>
  </button>

  <div class="navbar-nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="text-light nav-link" href="/Profile">Home |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/explore">Explore |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/submit-creature">Submit |</a>
      </li>
      <!-- <li class="nav-item">
        <a class="text-light nav-link" href="/login">Login |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/signup">Register</a> -->
      </li>
    </nav>
</div>
<!-- Nav Bar End -->
<!-- Header Image -->
<img class="cropped1" src="/images/nightwatch.png" class="rounded mx-auto d-block" alt="..." width="100%" height="250px">

<!-- Nav Bar 2 -->
<nav class="navbar navbar-light" style="background-color: #ffffff;">
<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#"><h2 class="nav2link">Rabid Swan</h2></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/world"><h4 class="nav2link">Universes</h4></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/gallery"><h4 class="nav2link">Gallery</h4></a>
  </li>
</ul>
</nav>
<!-- About -->
<!-- Column One -->
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <div id="pronav">
        <h3>About</h3>
       <p>I'm a current artist who enjoys making my worlds feel more lively with having this website, It sorts out by species and planets making its own ecosystem, what eat where they live and other speciific tasks. Only stopping at your own restrictions.</p>
        
    </div>
    </div>
  


<!-- Colum Two -->

  
    <div class="col-mb-10 featureimg" >
        
        
    
        
      <!-- loop over creatures and render there image -->
      <h3 class="posts">Recent Posts</h3>
      <br>
      <% for(var i=0; i < creatures.length; i++) { %>
        <img class="imgspace" src=<%= creatures[i].creatureImage %>  alt="...">
      <% } %>
        
    </div>
  </div>
  <br>
  <!-- Featured ArtWork -->
  <!-- Recent Posts -->

</div>

  
    
  </body>
</html>
