<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="/styles/style.css"/>

    <title>Sign Up Page</title>
  </head>
<!-- navbar -->
<body>
<nav index=navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="/">
    <img src="/images/logo.png" width="30" height="30" alt="Logo" loading="lazy"> Creature Feature
   </a>
  </button>

  <div class="navbar-nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="text-light nav-link" href="/Profile">Home |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/explore">Explore |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/submit-creature">Submit |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/login">Login |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/signup">Register</a>
      </li>
    </nav>
    </div>
  <!-- navbar end -->
  <div class="container">
    <div class="welcome-main">
        <div class="welcomebox">
          <form class="needs-validation" method="POST" action="/userInfo" novalidate>
            
                <label for="validationTooltip01">First name</label>
                <input type="text" name="firstName" class="form-control" id="validationTooltip01" placeholder="John" required>
                <label for="validationTooltip02">Last name</label>
                <input type="text" name="lastName" class="form-control" id="validationTooltip02" placeholder="Doe" required>
                <label for="validationTooltip03">User Name</label>
                <input type="text" name="userName" class="form-control" id="validationTooltip03" required>
                  <label for="validationTooltip03" required>Password</label>
                  <input type="password" name="password" class="form-control" id="validationTooltip03" required>
                <label for="validationTooltip05">Email</label>
                <input type="text" name="email" class="form-control" id="validationTooltip05" required>
                <br>
            <button class="btn btn-primary" type="submit">Enter the Creature Zone</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>