<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styles/style.css"/>
    <title>Species Profile</title>
  </head>
  <body>

<!-- Nav bar -->

<nav index=navbar class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold" href="/">
    <img src="/images/logo.png" width="30" height="30" alt="Logo" loading="lazy"> Creature Feature
   </a>
  </button>

  <div class="navbar-nav" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="text-light nav-link" href="/Profile">Home |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/explore">Explore |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/submit-creature">Submit |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/login">Login |</a>
      </li>
      <li class="nav-item">
        <a class="text-light nav-link" href="/signup">Register</a>
      </li>
    </nav>
    </div>

<!-- sidenav -->
    <div class="sidenav">
        <a href="/gallery">Gallery</a>
        <a href="/world">Universes</a>
    </div>
      
<!-- Page content -->
      <div class="main">
        <div class="container">
          <div class="row">
            <div class="col-md text-white" >
              <h1>Creature Name</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-md">
              <div class="card text-white bg-secondary mb-3">
                <div class="card-header">
                 habitat
                </div>
                <div class="card-body">
                  <p class="card-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reprehenderit nobis dolore soluta distinctio nam eum quis sequi aliquam beatae quod accusamus suscipit nemo atque eaque, veritatis itaque dolorem, delectus facere!</p>
                </div>
              </div>
            </div>
            <div class="col-md">
              <img src="../images/flying banshee.png" class="img-fluid" alt="Flying banshee">
            </div>
          </div>
        </div>

        <div class="container 2">
          <div class="row">
            <div class="card text-white bg-secondary mb-3">
              <div class="card-header">
                description
              </div>
              <div class="card-body">
                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas quaerat eveniet error eos? Ab nulla modi inventore alias fugit facilis ducimus reiciendis quo ullam quam, excepturi quisquam tempora, maxime facere?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>