<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/styles/worldstyle.css" />
    <title>World</title>
  </head>
  <body>
    <!-- Nav bar -->

    <nav index="navbar" class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand font-weight-bold" href="/">
        <img
          src="/images/logo.png"
          width="30"
          height="30"
          alt="Logo"
          loading="lazy"
        />
        Creature Feature
      </a>

      <div class="navbar-nav" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="text-light nav-link" href="/Profile">Home |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="/explore">Explore |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="/submit-creature">Submit |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="/login">Login |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="/signup">Register |</a>
          </li>
          <li class="nav-item">
            <a class="text-light nav-link" href="/speciesProfile">Species</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="col-md-12">
      <div><img id="image" src="/images/forest.jpg" alt="" /></div>
      <div><img id="profilepic" src="/images/logo.png" alt="" /></div>
      <div id="gallerytext">Gallery</div>
    </div>

    <div class="container">
      <div class="col-md-2">Pandora</div>

      <div class="col-md-10 text-center container2">
        <div id="rightpanel2">All | Jungle | Grasslands</div>
        <img class="fancyimage" src="/images/placeholder.webp" alt="" />
        <img class="fancyimage" src="/images/placeholder.webp" alt="" />
        <img class="fancyimage" src="/images/placeholder.webp" alt="" />
        <div>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem
            ipsum dolor sit amet, consectetur adipisicing elit. Consectetur
            adipisicing elit.
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
