.nav2link {
  color: black;
}

.cropped1 {
  object-fit: cover;
}

#pronav {
  background-color: white;
  width: 250px;
  height: 123%;
  padding-top: 26%;
}

.col-md-2 {
  margin-left: 0;
}
.container {
  margin-left: 0;
  padding-left: 0;
}

img {
  display: inline;
}

.featureimg {
  margin-left: 149px;
  margin-top: 10px;
}

.posts {
  width: 300px;
  background-color: white;
  padding: 50px;
  margin: 20px;
  margin: auto;
  width: 50%;
  padding: 10px;
  margin-top: -194px;
  text-align: center;
}

.body2 {
  background: linear-gradient(180deg, #ffffff 26.04%, #244943 100%), #33615b;
}

#imgspace {
  margin-left: -23px;
  margin-right: 31px;
}
