.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: -1;
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 6%;
}
/* The navigation menu links */
.sidenav a {
  padding: 35% 8%;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}
/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 10px 10px;
  position: absolute;
  width: 1359px;
  height: 1023px;
  background: radial-gradient(
      38.89% 38.89% at 60.82% 61.11%,
      #427976 0.82%,
      rgba(35, 55, 73, 0) 100%
    ),
    #101628;
}
/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
/* Submit page Styles */
.SubmitBod {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 150%;
  color: #333;
  background: #000000;
  text-align: center;
}
.Submitcontainer {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  background: white;
  border-radius: 25px;
  padding: 20px;
}
.Title {
  width: 600px;
  margin: 0 auto;
  text-align: center;
  background: white;
  border-radius: 25px;
  padding: 20px;
}
.Submit {
  width: 525px;
  margin: 0 auto;
  text-align: center;
  background: white;
  border-radius: 25px;
  padding: 10px;
}
.Round {
  border-radius: 25px;
}
